@model List<TaskModel>

<!-- Table Header -->
<div class="container">
    <div class="row d-flex">
        <h1 class="col-10 ps-0">My ToDo List:</h1>
        <div class="col-1 fs-1 d-flex justify-content-end">
            @* <div class="dropdown"> *@
            <div class="dropend">
                <a asp-action="" data-bs-toggle="dropdown"><i class="bi bi-filter-circle-fill"></i></a>
                <ul class="dropdown-menu">
                @* <ul class="dropdown-menu dropdown-menu-end ms-5"> - To switch to menu *almost* centered below *@
                    <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParam"]">Order Entered</a></li>
                    <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["CategorySortParam"]">Category</a></li>
                    <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["TaskNameSortParam"]">Alphabetical</a></li>
                    <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["PrioritySortParam"]">Priority</a></li>
                    <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["DueDateSortParam"]">Date</a></li>
                </ul>
            </div>
        </div>
        <div class="col-1 fs-1 d-flex justify-content-end">
            <a asp-controller="ToDo" asp-action="Create"><i class="bi bi-plus-circle-fill"></i></a>
        </div>
    </div>
</div>

<!-- Table (ToDo Task List) -->
<table class="table table-striped border border-primary" id="toDoTasks">
    <tbody>
        @foreach (var obj in Model.Where(task => !task.isComplete))
        {
            <tr>
                <td class="col-1 text-center align-middle">
                    <a asp-action="ToggleCompletion" data-task-id="@obj.Id"><i class="bi bi-circle fs-1"></i></a>
                </td>
                <td class="col-3">
                    <div class="container">
                        <div class="col">
                            <div class="row fs-3">
                                @obj.taskName
                            </div>
                            <div class="row">
                                @* Time formatted to remove "seconds" *@
                                @obj.dueDate?.ToString("MM/dd/yyyy hh:mm tt")
                            </div>
                            <div class="row">
                                @obj.category
                            </div>
                        </div>
                    </div>
                </td>
                <td class="align-middle text-center col-4">
                    @obj.description
                </td>
                <td class="align-middle text-center col-2">
                    @obj.priorityLevel <br />@("priority")
                </td>
                <td class="align-middle col-1">
                    <div class="container text-end">
                        <div class="fs-2">
                            <a asp-controller="ToDo" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i></a>
                        </div>
                        <div class="fs-2">
                            <a asp-action="" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="@obj.Id"><i class="bi bi-trash-fill"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Table (Completed Task List) / Only shows if there are tasks completed -->
@if (Model.Any(task => task.isComplete))
{
    <h1 class="col-10">Completed:</h1>
    <table class="table table-striped border border-primary" id="completedTasks">
        <tbody>
            @foreach (var obj in Model.Where(task => task.isComplete))
            {
                <tr>
                    <td class="col-1 text-center align-middle">
                        <a asp-action="ToggleCompletion" data-task-id="@obj.Id"><i class="bi bi-check-circle-fill fs-1"></i></a>
                    </td>
                    <td class="col-3">
                        <div class="container">
                            <div class="col">
                                <div class="row fs-3">
                                    @obj.taskName
                                </div>
                                <div class="row">
                                    @obj.dueDate
                                </div>
                                <div class="row">
                                    @obj.category
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="align-middle text-center col-4">
                        @obj.description
                    </td>
                    <td class="align-middle text-center col-2">
                        @obj.priorityLevel <br />@("priority")
                    </td>
                    <td class="align-middle col-1">
                        <div class="container text-end">
                            <div class="fs-2">
                                <a asp-controller="ToDo" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i></a>
                            </div>
                            <div class="fs-2">
                                <a asp-action="" data-bs-toggle="modal" data-bs-target="#deleteModal" data-task-id="@obj.Id"><i class="bi bi-trash-fill"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <h1 class="modal-title fs-1 text-center p-1">Confirm Delete</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body text-center p-0">
                Are you sure you want to delete this task?
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Delete Task</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Script to handle delete button in modal
    document.addEventListener('DOMContentLoaded', function () {
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var taskId = button.data('task-id');
            var modal = $(this);
            modal.find('#confirmDelete').attr('data-task-id', taskId);
        });

        $('#confirmDelete').click(function () {
            var taskId = $(this).data('task-id');
            $.ajax({
                url: "/ToDo/DeleteTask/",
                method: "POST",
                data: { taskId: taskId },
                success: function (result) {
                    window.location.reload();
                },
                error: function (error) {
                    // Handle errors, display an error message, and check the console for more details
                    console.error('Error deleting task: ' + error.statusText);
                }
            });
        });
    });

    // Script to handle check button
    $(document).ready(function () {
        $('a[data-task-id]').on('click', function (e) {
            e.preventDefault();
            // "if" to make sure clicking delete icon does not toggle completion status
            if ($(this).find('i').hasClass('bi-trash-fill') == false) {
                var taskId = $(this).data('task-id');
                var clickedRow = $(this).closest('tr');
                $.post('/ToDo/ToggleCompletion', { taskId: taskId }, function (data) {
                    if (data.success) {
                        if (data.isComplete) {
                            // Move to Completed table and updat icon to be checked
                            clickedRow.find('i').removeClass('bi-circle').addClass('bi-check-circle-fill');
                            $('#completedTasks tbody').append(clickedRow);
                        } else {
                            // Move to ToDo table and update icon to be open circle
                            clickedRow.find('i').removeClass('bi-check-circle-fill').addClass('bi-circle');
                            $('#toDoTasks tbody').append(clickedRow);
                        }
                    } else {
                        console.log('Error toggling completion status.');
                    }
                });
            }
        });
    });
</script>
